/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-container {
  margin-top: 10vh;
  flex-grow: 1;
}

.footer-container {
  background-color: #ee5523;
  height: 10vh;
  width: 100%;
}

/* header */
header {
  background-color: #ee5523;
  height: 8vh;
  position: fixed;
  width: 100%;
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 10px 0 10px;
}
.home-logo {
  color: #333333;
  font-size: 2em;
  text-decoration: none;
}

/* pages/home */
.home-container {
  text-align: center;
}
