<header>
  <div class='header-container'>
    <%= link_to 'チャットアプリ（仮）', '/', class: 'home-logo' %>
    <nav>
      <ul>
        <li><%= link_to "Log in", '/login' %></li>
      </ul>
    </nav>
  </div>
</header>